$width-btn-close: 3.5rem;

.sort-by{
  transition: $transition-time ease;
  transform: translateZ( 0 ) translateY( 70px );
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 0.7rem 0.2rem;
  display: flex;
  justify-content: space-between;
  background-color: $light-grey-color;

  &.sort-by-animation-enter-done{
    transform: translateZ( 0 ) translateY( 0 );
  }

  &.sort-by-animation-exit-active{
    transform: translateZ( 0 ) translateY( 70px );
  }

  .container-checkbox{
    @extend .default-box-shadow;
    background-color: $light-grey-color;
    display: inline-flex;
    margin-right: 0.5rem;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;

    &:last-child{
      margin-right: 0;
    }

    &.active:before{
      left: 0;
    }
  }

  .check-box.radio{
    width: 1.9rem;
    height: 1.9rem;
    margin: 0;
  }

  .sort-by-{
    width: 3rem;
    height: 1.9rem;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;

    &done{
      background-color: $green-color;
    }

    &low{
      background-color: $light-blue-color;
    }

    &middle{
      background-color: $light-green-color;
    }

    &high{
      background-color: $red-color;
    }
  }

  .buttons-priority{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: calc( 100% - #{$width-btn-close} );
  }

  .btn-close{
    background: transparent;
    border: none;
    padding: 0.2rem 0.3rem;
    width: $width-btn-close;
  }
}