@media (max-width: $app-max-width) {
  .TodoForm{

    .wrapper-max-width{
      max-width: 100%;
    }
  }
}

@media screen and (max-height: 170px) and (orientation: landscape){
  .TodoForm{

    .input{
      min-height: 5rem;
      margin-bottom: 1.3rem;
    }
  }
}