.default-box-shadow{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.container-checkbox{
  @extend .default-box-shadow;
  position: relative;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 5px;
  display: inline-flex;
  padding: 0.2rem 0.5rem;

  &:last-child{
    margin-right: 0;
  }

  .check-box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    &.radio{
      @extend .default-box-shadow;
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
    }

    &.priority-done{
      background-color: $green-color;
    }

    &.priority-low{
      background-color: $priority-low;
    }

    &.priority-middle{
      background-color: $priority-middle;
    }

    &.priority-high{
      background-color: $red-color;
    }

    svg{
      display: none;
    }
  }

  .checkbox-input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .checkbox-input:checked ~ .check-box svg{
    display: inline-block;
  }
}

.btn{
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;

  svg{
    vertical-align: middle;
  }
}

.vertical-center{
  display: flex;
  align-items: center;
}

.priority{
  padding: 0.25rem 0.6rem;
  border-radius: 5px;
  color: white;

  &.low{
    background-color: $priority-low;
  }

  &.middle{
    background-color: $priority-middle;
  }

  &.high{
    background-color: $red-color;
  }
}

pre{
  font-family: inherit;
}

.time{
  color: $black-color;
  font-size: 0.7rem;
  display: inline-block;
}

.error-message{
  color: $red-color;
  font-size: 1rem;
  padding: 0.25rem
}

.no-match{
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  color: $black-color;
}

.input{
  &:focus{
    box-shadow: 0px 0px 0 2px $outline-color;
  }

  &.error{
    border-color: $red-color !important;

    &:focus{
      box-shadow: 0px 0px 0 2px $red-color;
    }
  }
}

@media( min-width: 1024px ) {
  button{
    &:focus{
      box-shadow: 0px 0px 0 2px $outline-color !important;
    }
  }

  .checkbox-input:focus ~ .check-box.radio{

    &:before{
      content: '';
      position: absolute;
      top: -4px;
      bottom: -6px;
      left: -4px;
      right: -4px;
      border: 2px solid $outline-color;
      border-radius: 5px;
    }
  }
}