/*colors*/
$todo-background: #f7f7f7;
$todo-completed-background: #b8e8b8;
$green-color: #388e3c;
$outline-color: #3a3af5;
$grey-color: #808080;
$dark-orange-color: #e48903;
$black-color: #383131;
$light-grey-color: #d4d4d4;
$red-color: #ff5955;
$light-blue-color: #89c9fd;
$light-green-color: #0fde79;
/*time*/
$transition-time: .3s;
/*padding*/
$blocks-horisontal-padding: 0.35rem;
/*other*/
$app-max-width: 1250px;