/*colors*/
$todo-background: #f7f7f7;
$todo-completed-background: #caeeca;
$green-color: #388e3c;
$outline-color: #3a3af5;
$black-color: #383131;
$dark-grey-color: #636f7b;
$red-color: #ff5955;
$black-primary: #2e353e;
$priority-low: #cdcdcd;
$priority-middle: #89c9fd;
$priority-high: #ff5955;
/*time*/
$transition-time: .3s;
/*other*/
$app-max-width: 1250px;


