.todo{
  @extend .default-box-shadow;
  position: relative;
  font-size: 1.2rem;
  border-radius: 5px;
  z-index: 0;
  margin: 0 0 0.6rem 0;
  overflow: hidden;
  max-height: 300px;
  line-height: 1.26;

  &:before,
  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 96%;
    width: 50%;
    z-index: -1;
    background: $dark-grey-color url('../images/icons/icon-delete.svg');
    background-repeat: no-repeat;
  }

  &:before{
    left: 0.2rem;
    background-position: 10%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:after{
    right: 0.2rem;
    background-position: 90%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &.todo-delete-animation{
    transform: translateZ(0);
    max-height: 0;
    transition: .3s ease-in-out;
    margin: 0;
    opacity: 0;
  }

  .todo-wrapper{
    position: relative;
    color: $black-color;
    transition: $transition-time background-color, opacity ease-in-out;
    padding: 0.35rem 0.35rem 0.5rem 0.35rem;
    z-index: 1;
    border-radius: 3px;
    background-color: $todo-background;
    transform: translateZ( 0 );

    &.touchend-animation{
      transition: $transition-time ease;
      transform: translateZ(0) translateX(0);
    }

    &.touchend-left-animation{
      transition: $transition-time;
      transform: translateZ(0) translateX(-100%);
    }

    &.touchend-right-animation{
      transition: $transition-time ease;
      transform: translateZ(0) translateX(100%);
    }
  }

  &.completed .todo-wrapper{
    background-color: $todo-completed-background;
  }

  &.completed .navigation-todo{
    border-color: #81ad81
  }

  .btn{
    background-color: #4e5760;
    padding: 0.4rem 0.6rem;
  }

  .navigation-todo{
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color:  #c6d0da;
    padding-bottom: 0.5rem;
    margin-bottom: 0.65rem;
  }

  .priority{
    @extend .default-box-shadow;
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
  }

  .delete-todo{
    margin-left: 1rem;
  }

  .container-checkbox{
    display: inline-flex;
    margin-right: 0.6rem;
    background: transparent;
    box-shadow: none;
    padding-right: 0.65rem;
    padding-left: 0;
  }

  .header-todo{
    padding: 0.65rem 0;
    justify-content: space-between;
  }

  .check-box.radio{
    width: 1.55rem;
    height: 1.55rem;
    margin: 0;

    svg{
      fill: white;
    }
  }

  .checkbox-input:checked ~ .check-box.radio{
    background-color: $green-color;
  }

  .todo-content{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    white-space: pre-wrap;
  }
}