.navigation{
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;

  & > .wrapper-max-width{
    width: $app-max-width;
    margin: auto;
    background-color: $light-grey-color;
    padding:  $blocks-horisontal-padding * 2 0;
    position: relative;
  }

  .buttons-wrapper{
    width: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }

  .btn.sort-todos,
  .btn.add-new-item{
    @extend .default-box-shadow;
    font-size: inherit;
    background: $blue-primary;
    border: none;
  }
}